@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .icon{
        @apply hidden xl:inline-flex p-2 w-10 h-10 text-gray-700 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300 ;
    }

    .inputIcon{
        @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow p-2 justify-center cursor-pointer rounded-xl;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
